doctype html
mixin item(title, url)
  li(class='list-item')
    a(href=url class=path == url ? 'item-active' : 'item')=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- span=path
    nav
      ul
          +item('Strona głowna', '/')
          +item('Aktualniści', '/news')
          +item('Quiz', '/quiz')
          +item('Admin', '/admin')

    block content
